.contact-btn {
    position: fixed;
    z-index: 1000;
    right: 50px;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
#contact-me {
    height: 25px;
    width: 8vw;
    color: white;
    font-size: 18px;
    font-weight: 400;
    /* border: 1px solid #5eead4; */
    border: 1px solid blue;
    background-color: black;
    border-radius: 25px;
}
.contact-icon {
    height: 60px;
    width: 60px;
}
.contact-icon:hover {
    cursor: pointer;
}
#contact-me:hover {
    cursor: pointer;
    color: #5eead4;
    border: none;
    background-color: #152b39;
}